################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Forservices.MOUSEY.Model/bin/Debug
/Forservices.MOUSEY.Notifier.WebAPI.Example/bin
/.vs
/Forservices.MOUSEY.Model/obj/Debug
/Forservices.MOUSEY.Notifier.WebAPI.Example/obj/Debug
/packages
